<!doctype html>
<html ng-app="todoApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
</head>

<body>
  <h2>Todo</h2>
  <div ng-controller="TodoListController as todoList">
    <ul>
      <li ng-repeat="todo in todoList.todos" ng-class="{'checked':todo.checked}">
        <label for="">
          <input type="checkbox" name="" id="" ng-model="todo.checked" disabled>
          <span ng-click="todoList.show(todo)" ng-class="{'isRed':todo.show}">{{todo.text}}</span>
        </label>
        <ul ng-show="todo.show">
          <li ng-repeat="item in todo.sub"><input type="checkbox" name="" id="" ng-model="item.checked"
              ng-change="todoList.func(todo)">{{item.text}}
          </li>
        </ul>

      </li>
    </ul>
  </div>
</body>

</html>

<!-- 
Copyright 2022 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->