<!doctype html>
<html ng-app="todoApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
</head>

<body ng-controller="Controller as $ctrl">
  <ul>
    <li ng-repeat="item in $ctrl.nav" ng-click="$ctrl.select(item)">{{item.text}}</li>
  </ul>

  <div ng-repeat="item in $ctrl.nav">
    <div ng-show="item.show">{{item.content}}</div>
  </div>

</body>

</html>

<!-- 
Copyright 2022 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->